.banners {
    display: flex;
    flex-direction: column;

}

.popular-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    overflow-x: auto;
}

.recipe-card {
    height: 100px;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    max-width: 350px;
    max-height: 350px;

}

.recipe-card:hover {
    transform: translateY(-15px);
}

.recipe-card h3 {
    margin: 0 0 0.5rem 0;
}

.recipe-card p {
    margin: 0.25rem 0;
    color: #555;
}

